
<h1><%= title %></h1>

<%- messages() %>

<div class="management-container">
    <h2>Welcome <%= locals.accountData.account_firstname %></h2>
    
    <p>You're logged in.</p>

    <p><a href="/account/update/<%= locals.accountData.account_id %>" title="Click to update account information">Update Account Information</a></p>

    <% if (locals.accountData.account_type === 'Employee' || locals.accountData.account_type === 'Admin') { %>
        <hr>
        <h3>Inventory Management</h3>
        <p><a href="/inv/" title="Access inventory management">Manage Inventory</a></p>
    <% } %>
</div>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
