<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %> ... loop through errors ... <% } %>

<form action="/inv/addInventory" method="post">
  <label>Classification:</label>
  <%- classificationSelect %> <label for="inv_make">Make:</label>
  <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>">

  <label for="inv_model">Model:</label>
  <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>">

  <button type="submit">Add Vehicle</button>
</form>